<nav class="navbar navbar-expand-lg  navbar-custom text-color-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav-fill w-100">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="node"  style="cursor:pointer">Nodes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="line-registration"  style="cursor:pointer">Lines<span class="sr-only">(current)</span></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="path"  style="cursor:pointer">Paths<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="driver"  style="cursor:pointer">Driver<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLinkActive="active customActive" routerLink="driverType"  style="cursor:pointer">DriverTypes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="driverDuty"  style="cursor:pointer">DriverDuties<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="vehicle"  style="cursor:pointer">Vehicles<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="vehicleType"  style="cursor:pointer">VehicleTypes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="vehicleDuty"  style="cursor:pointer">VehicleDuties<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="trip"  style="cursor:pointer">Trip<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active customActive" routerLink="workblock"  style="cursor:pointer">WorkBlock<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>