<div class="w3-container page-global">

    <div class="formLeft">
        <h2> Retrieve Password </h2>
        <form name='form' #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
            <!-- First row -->
            <div class="row vertical-buffer">



                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" [(ngModel)]="email"
                            autocomplete="off" #userEmail="ngModel"
                            [ngClass]="{ 'is-invalid': userForm.submitted && userEmail.invalid }" userName required>
                        <div class="invalid-feedback" *ngIf="userForm.submitted && userEmail.invalid">
                            <p name="EmailRequired" *ngIf="userEmail.errors.required">Email is required</p>
                        </div>
                    </div>
                </div>
            </div>





            <!-- Button -->
            <div class="form-group">
                <button id="btnid" name="buttonSubmit" class="btn btn-primary" type="submit">Submit
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
                <!-- [hidden]="!nodeForm.form.valid" -->
            </div>

        </form>
    </div>

    <div class="formRight">
        <div>
            <h3 name='SuccessMessage' *ngIf='successMessage' style="color:green"> {{successMessage}} </h3>
            <h3 name='ErrorMessage' *ngIf='errorMessage' style="color:red"> {{errorMessage}} </h3>
        </div>
    </div>

</div>